html, body {
    min-height: 100vh;
}

body {
    width: 100%;
    background-color: white;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

#abatopo {
    justify-content: center;
    gap: 5%;
}

h2 {
    font-weight: 800;
    word-spacing: 15%;
}